@use "colors";

.search-form {
  min-width: 270px;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 2.5em;
  .search-input {
    padding: 1.3em 0.65em;
    border: 2px solid colors.$inputBG-color;
    background-color: colors.$inputBG-color;
    border-radius: 13px;
    width: 100%;
    padding-inline-end: 45px;

    &:focus-within {
      outline: none;
      border: 2px solid colors.$purple-color;
    }
  }

  .search-icon {
    position: absolute;
    right: 20px;
  }

  .button-search {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .fa-magnifying-glass {
    color: colors.$purple-color;
  }
}

.button-play {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: colors.$buttonPlayBG-color;
  cursor: pointer;

  .play-icon {
    font-size: 20px;
    color: colors.$purple-color;
  }

  &:hover,
  &:focus {
    background-color: colors.$purple-color;
    outline: none;

    .play-icon {
      color: white;
    }
  }
}

// good for accessibility
.visually-hidden {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.word-part-of-speech {
  display: flex;
  align-items: center;

  &:after {
    content: "";
    flex: 1;
    background-color: colors.$line-color;
    height: 1px;
    margin-left: 1.5em;
  }
}

.word-container {
  /* search error message */

  .search__error-message {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;

    .exclamation-mark {
      font-size: 3.5rem;
      margin-bottom: 0.7em;
    }
  }

  /* loader */

  .container-loader {
    height: 60vh;
    display: grid;
    place-content: center;

    .loader {
      width: 48px;
      height: 48px;
      border: 5px solid colors.$purple-color;
      border-bottom-color: colors.$buttonPlayBG-color;
      border-radius: 50%;
      display: inline-block;
      box-sizing: border-box;
      animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  .hidden {
    display: none;
  }
}
