@font-face {
  font-family: "MonoSpace";
  src: url("../fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DMSans-Regular";
  src: url("../fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "MonoSpace", sans-serif;
  font-size: 16px;
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2em;
}
